ICP.Project/src/ICP.Host.AccountLink/Connected Services/KeyApiServiceReference/KeyApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TripleDESEncrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rawDataHex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TripleDESEncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TripleDESEncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TripleDESDecrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encryptedHex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TripleDESDecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TripleDESDecryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetValue" />
  </wsdl:message>
  <wsdl:message name="GetValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetValueResponse" />
  </wsdl:message>
  <wsdl:message name="TripleDESEncryptSoapIn">
    <wsdl:part name="parameters" element="tns:TripleDESEncrypt" />
  </wsdl:message>
  <wsdl:message name="TripleDESEncryptSoapOut">
    <wsdl:part name="parameters" element="tns:TripleDESEncryptResponse" />
  </wsdl:message>
  <wsdl:message name="TripleDESDecryptSoapIn">
    <wsdl:part name="parameters" element="tns:TripleDESDecrypt" />
  </wsdl:message>
  <wsdl:message name="TripleDESDecryptSoapOut">
    <wsdl:part name="parameters" element="tns:TripleDESDecryptResponse" />
  </wsdl:message>
  <wsdl:portType name="KeyApiSoap">
    <wsdl:operation name="GetValue">
      <wsdl:input message="tns:GetValueSoapIn" />
      <wsdl:output message="tns:GetValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TripleDESEncrypt">
      <wsdl:input message="tns:TripleDESEncryptSoapIn" />
      <wsdl:output message="tns:TripleDESEncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TripleDESDecrypt">
      <wsdl:input message="tns:TripleDESDecryptSoapIn" />
      <wsdl:output message="tns:TripleDESDecryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KeyApiSoap" type="tns:KeyApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValue">
      <soap:operation soapAction="http://tempuri.org/GetValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TripleDESEncrypt">
      <soap:operation soapAction="http://tempuri.org/TripleDESEncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TripleDESDecrypt">
      <soap:operation soapAction="http://tempuri.org/TripleDESDecrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KeyApiSoap12" type="tns:KeyApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValue">
      <soap12:operation soapAction="http://tempuri.org/GetValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TripleDESEncrypt">
      <soap12:operation soapAction="http://tempuri.org/TripleDESEncrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TripleDESDecrypt">
      <soap12:operation soapAction="http://tempuri.org/TripleDESDecrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KeyApi">
    <wsdl:port name="KeyApiSoap" binding="tns:KeyApiSoap">
      <soap:address location="http://localhost:2063/KeyApi.asmx" />
    </wsdl:port>
    <wsdl:port name="KeyApiSoap12" binding="tns:KeyApiSoap12">
      <soap12:address location="http://localhost:2063/KeyApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>