ICP.Project/src/ICP.Batch/ICP.Batch.ExecSendMistake/Connected Services/MistakeSMS/MistakeSMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListMistakeTemp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="States" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="ChangeStates" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMistakeTempResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListMistakeTempResult" type="tns:ArrayOfMistakeTemp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMistakeTemp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MistakeTemp" nillable="true" type="tns:MistakeTemp" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MistakeTemp">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AutoID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgData" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SmsType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="States" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateReceiveSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutoID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="RtnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReceiveSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReceiveSMSResult" type="tns:BaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BaseResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RtnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MistakeUrlBody">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MistakeUrlBodyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MistakeUrlBodyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StrToModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutoID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StrToModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrToModelResult" type="tns:BaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListMistakeTempSoapIn">
    <wsdl:part name="parameters" element="tns:ListMistakeTemp" />
  </wsdl:message>
  <wsdl:message name="ListMistakeTempSoapOut">
    <wsdl:part name="parameters" element="tns:ListMistakeTempResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReceiveSMSSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReceiveSMS" />
  </wsdl:message>
  <wsdl:message name="UpdateReceiveSMSSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReceiveSMSResponse" />
  </wsdl:message>
  <wsdl:message name="MistakeUrlBodySoapIn">
    <wsdl:part name="parameters" element="tns:MistakeUrlBody" />
  </wsdl:message>
  <wsdl:message name="MistakeUrlBodySoapOut">
    <wsdl:part name="parameters" element="tns:MistakeUrlBodyResponse" />
  </wsdl:message>
  <wsdl:message name="StrToModelSoapIn">
    <wsdl:part name="parameters" element="tns:StrToModel" />
  </wsdl:message>
  <wsdl:message name="StrToModelSoapOut">
    <wsdl:part name="parameters" element="tns:StrToModelResponse" />
  </wsdl:message>
  <wsdl:portType name="MistakeSMSSoap">
    <wsdl:operation name="ListMistakeTemp">
      <wsdl:input message="tns:ListMistakeTempSoapIn" />
      <wsdl:output message="tns:ListMistakeTempSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReceiveSMS">
      <wsdl:input message="tns:UpdateReceiveSMSSoapIn" />
      <wsdl:output message="tns:UpdateReceiveSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MistakeUrlBody">
      <wsdl:input message="tns:MistakeUrlBodySoapIn" />
      <wsdl:output message="tns:MistakeUrlBodySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StrToModel">
      <wsdl:input message="tns:StrToModelSoapIn" />
      <wsdl:output message="tns:StrToModelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MistakeSMSSoap" type="tns:MistakeSMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListMistakeTemp">
      <soap:operation soapAction="http://tempuri.org/ListMistakeTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReceiveSMS">
      <soap:operation soapAction="http://tempuri.org/UpdateReceiveSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MistakeUrlBody">
      <soap:operation soapAction="http://tempuri.org/MistakeUrlBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StrToModel">
      <soap:operation soapAction="http://tempuri.org/StrToModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MistakeSMSSoap12" type="tns:MistakeSMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListMistakeTemp">
      <soap12:operation soapAction="http://tempuri.org/ListMistakeTemp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReceiveSMS">
      <soap12:operation soapAction="http://tempuri.org/UpdateReceiveSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MistakeUrlBody">
      <soap12:operation soapAction="http://tempuri.org/MistakeUrlBody" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StrToModel">
      <soap12:operation soapAction="http://tempuri.org/StrToModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MistakeSMS">
    <wsdl:port name="MistakeSMSSoap" binding="tns:MistakeSMSSoap">
      <soap:address location="http://localhost:63899/Api/MistakeSMS.asmx" />
    </wsdl:port>
    <wsdl:port name="MistakeSMSSoap12" binding="tns:MistakeSMSSoap12">
      <soap12:address location="http://localhost:63899/Api/MistakeSMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>