ICP.Project/src/ICP.Library.Services/Connected Services/SMS/SMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SMSType" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="tns:BaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BaseResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RtnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddFETRtnInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FETRtnModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FETRtnModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SysId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubmitDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DoneDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Seq" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddFETRtnInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFETRtnInfoResult" type="tns:BaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMistakeInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MistakeRtnModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MistakeRtnModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DstAddr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dlvtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DoneTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusFlag" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddMistakeInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddMistakeInfoResult" type="tns:BaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="AddFETRtnInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddFETRtnInfo" />
  </wsdl:message>
  <wsdl:message name="AddFETRtnInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddFETRtnInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddMistakeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddMistakeInfo" />
  </wsdl:message>
  <wsdl:message name="AddMistakeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddMistakeInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSSoap">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFETRtnInfo">
      <wsdl:input message="tns:AddFETRtnInfoSoapIn" />
      <wsdl:output message="tns:AddFETRtnInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMistakeInfo">
      <wsdl:input message="tns:AddMistakeInfoSoapIn" />
      <wsdl:output message="tns:AddMistakeInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSSoap" type="tns:SMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFETRtnInfo">
      <soap:operation soapAction="http://tempuri.org/AddFETRtnInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMistakeInfo">
      <soap:operation soapAction="http://tempuri.org/AddMistakeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSSoap12" type="tns:SMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFETRtnInfo">
      <soap12:operation soapAction="http://tempuri.org/AddFETRtnInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMistakeInfo">
      <soap12:operation soapAction="http://tempuri.org/AddMistakeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMS">
    <wsdl:port name="SMSSoap" binding="tns:SMSSoap">
      <soap:address location="http://localhost:63899/Api/SMS.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSSoap12" binding="tns:SMSSoap12">
      <soap12:address location="http://localhost:63899/Api/SMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>