ICP.Project/src/ICP.Batch/ICP.Batch.ExecSendFETSMS/Connected Services/FETSMS/FETSMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListFetTemp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="States" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="ChangeStates" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListFetTempResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListFetTempResult" type="tns:ArrayOfFETTemp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFETTemp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FETTemp" nillable="true" type="tns:FETTemp" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FETTemp">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AutoID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgData" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SmsType" nillable="true" type="s:unsignedByte" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateReceiveSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutoID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="RtnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReceiveSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReceiveSMSResult" type="tns:BaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BaseResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RtnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListFetTempSoapIn">
    <wsdl:part name="parameters" element="tns:ListFetTemp" />
  </wsdl:message>
  <wsdl:message name="ListFetTempSoapOut">
    <wsdl:part name="parameters" element="tns:ListFetTempResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReceiveSMSSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReceiveSMS" />
  </wsdl:message>
  <wsdl:message name="UpdateReceiveSMSSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReceiveSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="FETSMSSoap">
    <wsdl:operation name="ListFetTemp">
      <wsdl:input message="tns:ListFetTempSoapIn" />
      <wsdl:output message="tns:ListFetTempSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReceiveSMS">
      <wsdl:input message="tns:UpdateReceiveSMSSoapIn" />
      <wsdl:output message="tns:UpdateReceiveSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FETSMSSoap" type="tns:FETSMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListFetTemp">
      <soap:operation soapAction="http://tempuri.org/ListFetTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReceiveSMS">
      <soap:operation soapAction="http://tempuri.org/UpdateReceiveSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FETSMSSoap12" type="tns:FETSMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListFetTemp">
      <soap12:operation soapAction="http://tempuri.org/ListFetTemp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReceiveSMS">
      <soap12:operation soapAction="http://tempuri.org/UpdateReceiveSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FETSMS">
    <wsdl:port name="FETSMSSoap" binding="tns:FETSMSSoap">
      <soap:address location="http://localhost:63899/Api/FETSMS.asmx" />
    </wsdl:port>
    <wsdl:port name="FETSMSSoap12" binding="tns:FETSMSSoap12">
      <soap12:address location="http://localhost:63899/Api/FETSMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>